html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 16px auto;
    max-width: 1200px;

    background-color: #fff6c8;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a:hover {
    text-decoration: underline;
}

header {
    min-height: 80vh;
    padding-top: 50px;
}

svg {
    width: 35px;
    height: 35px;
}

img {
    max-width: 400px;
    width: 100%;
}
