.case-study {
    font-size: 20px;
    margin: 41px 80px;
}

.case-study p {
    margin: 20px 0;
}

.case-study .project__intro {
    margin: 0;
}

.case-study__content img {
    max-width: 100%;
    width: auto;
}

.case-study__img-container {
    margin: 0 auto;
    width: 50%;
}

.case-study__content ul {
    margin-left: 50px;
}

.case-study__content h3 {
    margin: 50px 0 0 0;
}

.case-study__content h3:first-of-type {
    margin: 25px 0 0 0;
}

.case-study__content {
    padding: 0 45px;
    max-width: 45.5rem;
    margin: 0 auto;
}

.case-study__content p {
    line-height: 1.9;
}

.case-study__content a {
    color: #0000ee;
    text-decoration: underline;
}

.case-study .next-project-right {
    display: block;
    margin-left: auto;
    max-width: 400px;
}

.next-project-right:hover h2 {
    text-decoration: underline;
}

/* styles for blog */

.img-container {
    text-align: center;
    margin: 50px 0;
}

img.img-container__img {
    width: 100%;
}

.center {
    text-align: center;
}

img.img-reset {
    width: auto;
}

@media screen and (max-width: 961px) {
    .case-study {
        margin: 0 8px;
    }

    .case-study__content {
        padding: 0;
    }
}
