.contain-nav-title {
    height: 27px;
    overflow: hidden;
}

.nav__title {
    display: flex;
    flex-direction: column;
}

.contain-nav-title:hover .nav__title {
    animation: translateNavTitle 1s linear infinite;
}

@keyframes translateNavTitle {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

header#home::before {
    content: 'BRIAN';
    position: absolute;
    top: -19px;
    left: -21px;
    z-index: -1;

    font-size: 400px;
    font-weight: 700;
    color: #ffffff;
}

header .header-text {
    font-size: 80px;
    font-weight: 700;
}

header .header-text:nth-child(2) {
    margin-left: 20%;
}

header .header-text:nth-child(3) {
    margin-left: 40%;
}

.circle {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: -1;
}

header#home .circle:nth-child(4) {
    bottom: 158px;
    left: 12px;

    background-color: #fece00;
}

header#home .circle:nth-child(5) {
    right: 7px;
    bottom: 89px;

    background-color: #feacd6;
}

header#home .circle:nth-child(6) {
    top: 51px;
    right: 43px;

    background-color: #413d45;
}

header#home .circle:nth-child(7) {
    top: 0;
    left: 60%;

    background-color: #32abff;
}

.links {
    margin-top: 40px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin-bottom: 24px;
    width: 45%;

    transition: all 0.3s ease;
}

.productivity-container:hover,
.calorie-tracker-container:hover {
    padding-left: 4px;

    background-color: #ffffff;
    color: #000000;
    transform: scale(1.1);
}

.place-container:hover,
.codinglead-container:hover {
    padding-left: 4px;

    background-color: #333333;
    color: #ffffff;
    transform: scale(1.1);
}

.project-collection {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 24px;
    width: 100%;
}

.project-collection:hover {
    background-color: #fff3b4;
}

.project-collection-text {
    margin-left: 16px;
}

.project__skills {
    display: flex;
    flex-wrap: wrap;
}

.project__skill {
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 4px 8px;

    background-color: #c8ffcb;
}

.project h2 {
    margin: 4px 0 0 0;

    font-size: 18px;
}

.project-collection h2 {
    margin: 0;
}

header#collection {
    display: flex;
    justify-content: space-between;
    min-height: 60vh;
}

header#collection .circle-1 {
    left: 50%;
    top: 0;

    background-color: #413d45;
}

header#collection .circle-2 {
    left: 50%;
    top: 40%;

    background-color: #32abff;
}

header#collection .circle-3 {
    left: 36%;
    top: 20%;

    background-color: #fece00;
}

header#collection .circle-4 {
    left: 64%;
    top: 20%;

    background-color: #feacd6;
}

.collection-title {
    font-size: 50px;
    font-weight: 300;
}

.collection-text {
    font-size: 45px;
}

.note-container {
    border: 3px solid #000000;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.note-title {
    display: inline-block;
    padding: 5px;

    color: #000000;
    font-size: 20px;
    transition: 0.25s ease transform;
}

.note-container:hover .note-title {
    transform: translate(-8px, -8px) scale(1.03);
}
