body, html {
    background-color: #4dff4d;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    margin: auto;
}

.github-icon {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.paw-icon, .github {
    transition: 0.5s ease-in;
}

.paw-icon:hover, .github:hover {
    fill: #ff6699;
}


