.dark,
.dark .project {
    background-color: #333333;
    color: #ffffff;
}

.dark a,
.dark .hero__title,
.dark .project__cta,
.dark .project__desc,
.dark .project__title {
    color: #ffffff;
}

.dark .nav__link--active,
.dark .project {
    border-color: #ffffff;
}

.dark .nav__link::before,
.dark .see-resume-text::before {
    background-color: rgba(255, 255, 255, 0.1);
}

.dark svg {
    fill: #ffffff;
}

.dark .mobile-nav {
    background-color: #333333;
}

.dark .project__skill {
    background-color: #8d8989;
}

.dark .case-study__content a {
    color: #a6dcef;
}

.dark .mobile-nav__link--active {
    border-bottom: 2px solid #ffffff;
}

.dark .collection-container:hover {
    background-color: #1c1a1a;
}

.dark .collection-text {
    color: #a4b5c0;
}
