.dark {
  color: #ffffff;
}

.dark a,
.dark .hero__title,
.dark .contact__cta,
.dark .project__number,
.dark .project__text,
.dark .project__cta,
.dark .project__desc,
.dark .project__title {
  color: #ffffff;
}

.dark .line {
  background-color: #ffffff;
}

.dark .nav__link--active,
.dark .project {
  border-color: #ffffff;
}

.dark .nav__link::before,
.dark .see-resume-text::before {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .social__icon,
.dark #light-theme-icon,
.dark #menu-hamburger {
  fill: #ffffff;
}

.dark .mobile-nav {
  background-color: #333333;
}

.dark .project__skill {
  background-color: #8d8989;
}

.dark .note-title {
  color: #000000;
}

.dark .case-study__content a {
  color: #A6DCEF;
}

.dark .mobile-nav__link--active {
  border-bottom: 2px solid #ffffff;
}