---
layout: default
meta: Brian Munoz about page which displays information about me.
title: About
---

{% include header.html
  bold-desc="Front End Developer based in Long Beach, California."
  description="I strive to develop happy and joyful experiences by making designs come to life." %}

<section id="more" class="bio">
  <div class="about-content">
    <section class="about">
      <h2 class="about__title">About Me</h2>

      <div class="about__description">
        <p>
          I am a passionate bilingual Front End developer that likes to push the limits of
          web techonologies. Being able to use my skillset to solve diffcult problems
          is very rewarding.
        </p>
        <p>
          When I am not developing I enjoy playing video games, exercising and reading about new technology.
        </p>
    </div>
    </section>

    <section class="about">
      <h2 class="about__title">Specialties</h2>

      <div class="about__description">
        <ul>
          <li>Front End Development</li>
          <li>Back End Development</li>
          <li>Git & Github</li>
          <li>Website design</li>
        </ul>
      </div>
    </section>

    <section class="about">
        <h2 class="about__title">More Info</h2>

        <div class="about__description">
          <p>
            if you want to know more about me, checkout my <a href="https://colorlessenergy.github.io/cv/Brian%20resume.pdf"> resume </a>.
          </p>
        </div>
      </section>
  </div>
</section>
{% include footer.html %}