---
layout: default
meta: collection of projects and articles
title: collection
changefreq: weekly
---

{% include header.html
  heroClass="hero--collection"
  description="I create projects and write articles." %}

<section class="projects">
    <h2>projects</h2>

    <div>
        {% assign projects = site.projects | sort: "order" %}
        {% for project in projects %}
            <a class="note-container" href="{{ project.permalink }}">
                <span class="note-title">{{ project.title }}</span>
            </a>
        {% endfor %}
    </div>
</section>

<section class="projects">
    <h2>articles</h2>
    <div>
        {% for post in site.posts %}
            <a class="note-container" href="{{ post.link }}">
                <span class="note-title">{{ post.title }}</span>
            </a>
        {% endfor %}
    </div>
</section>

{% include footer.html %}


<script>
    const backgroundColors = ['#ffffe0', '#ffe0e0', '#e0ffe5', '#ede0ff', '#e0fcff'];
    const notesContainers = document.querySelectorAll('.note-title');
    let currentBackgroundColorIndex = 0;
    notesContainers.forEach(noteContainer => {
        if (currentBackgroundColorIndex === backgroundColors.length) {
            currentBackgroundColorIndex = 0;
        }

        noteContainer.style.backgroundColor = backgroundColors[ currentBackgroundColorIndex ];
        currentBackgroundColorIndex += 1;
    });
</script>