---
layout: default
meta: collection of projects and articles
title: collection
changefreq: weekly
---

{% include nav.html %}

<header id="collection">
    <div>
        <h1 class="collection-title">COLLECTION</h1>
        <p class="collection-text">projects and articles</p>
    </div>

    <div class="position-relative flex-1">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-4"></div>
    </div>
</header>

<div class="t-right">
    <a href="https://brianmunoz.co/cv/brian-munoz-resume.pdf" title="resume">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24">
            <path
                d="M21 9v11.993A1 1 0 0 1 20.007 22H3.993A.993.993 0 0 1 3 21.008V2.992C3 2.455 3.447 2 3.998 2H14v6a1 1 0 0 0 1 1h6zm0-2h-5V2.003L21 7zM8 7v2h3V7H8zm0 4v2h8v-2H8zm0 4v2h8v-2H8z" />
        </svg>
    </a>

    <a href="https://github.com/colorlessenergy" title="github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24">
            <path
                d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z" />
        </svg>
    </a>
</div>

<section>
    <h2 class="collection-text font-weight-300 mt-0 mb-24">projects</h2>

    <div class="projects-container">
        {% assign projects = site.projects | sort: "order" %} {% for project in
        projects %} {% if forloop.index > 4 %}
        <a class="project project-collection" href="{{ project.permalink }}">
            {% if project.image %}
            <img src="{{ project.image }}" alt="{{ project.title }}" />
            {% else %}
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24">
                <path
                    d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zM7 6v4h4V6H7zm0 6v2h10v-2H7zm0 4v2h10v-2H7zm6-9v2h4V7h-4z" />
            </svg>
            {% endif %}

            <div class="project-collection-text">
                <h2>{{ project.title }}</h2>
                <p>{{ project.meta }}</p>
            </div>
        </a>
        {% endif %} {% endfor %}
    </div>
</section>

<section>
    <h2 class="collection-text font-weight-300 mb-24">articles</h2>

    <div>
        {% for post in site.posts %}
        <a class="note-container" href="{{ post.link }}">
            <span class="note-title">{{ post.title }}</span>
        </a>
        {% endfor %}
    </div>
</section>

<script>
    const backgroundColors = [
        '#ffffe0',
        '#ffe0e0',
        '#e0ffe5',
        '#ede0ff',
        '#e0fcff'
    ];
    const notesContainers = document.querySelectorAll('.note-title');
    let currentBackgroundColorIndex = 0;
    notesContainers.forEach(noteContainer => {
        if (currentBackgroundColorIndex === backgroundColors.length) {
            currentBackgroundColorIndex = 0;
        }

        noteContainer.style.backgroundColor =
            backgroundColors[currentBackgroundColorIndex];
        currentBackgroundColorIndex += 1;
    });
</script>
