---
layout: default
priority: 1.0
---

{% include header.html
  description="Hello! I am very passionate about developing and designing web apps. I love to face new challenges everyday!"
  %}

<section id="more" class="projects">
  <ul>
    {% assign projects = site.projects | sort: "order" %}
    {% for project in projects %}
    <a class="projects__link" href="{{ project.url }}">
    <li class="project">
      <div class="project__image-wrapper">
        <img class="project__image" src="{{ project.image }}" alt="{{ project.title }}">
      </div>
      <div class="project__description">
        <div class="hide">
          <p class="project__number">{{ forloop.index }}</p>

          <p class="project__meta">
            {{ project.meta }}
          </p>

          <p class="project__cta">Learn More</p>
        </div>

        <div class="project__info">
          <p class="project__desc hide">{{ project.description }}</p>
          <h3 class="project__title">{{ project.title }}</h3>
        </div>
      </div>
    </li>
  </a>
  {% endfor %}
  </ul>
</section>
{% include footer.html %}