---
layout: default
priority: 1.0
---

{% include header.html description="<span>👋</span> Hello! I love to create user
interfaces and joyful web experiences." %}

<section id="more" class="projects">
    <ul class="projects-container">
        {% assign projects = site.projects | sort: "order" %} {% for project in
        projects limit:4 %}
        <li class="projects__link">
            <div
                class="project__rectangle project__rectangle-{{forloop.index}}"></div>
            <a
                class="project {{ project.title | split: ' ' | join: '-' }}-container"
                href="{{ project.url }}">
                <div class="project__emoji">{{ project.emoji }}</div>
                <div class="project__image-wrapper">
                    <img
                        class="project__image {{ project.title | split: ' ' | join: '-' }}"
                        src="{{ project.image }}"
                        alt="{{ project.title }}" />
                </div>
                <div class="project__description">
                    <div>
                        <h2 class="project__title">{{ project.title }}</h2>

                        <p>{{ project.meta }}</p>

                        <p class="project__cta">Learn More</p>
                    </div>

                    <div class="project__info">
                        <p class="project__desc">{{ project.description }}</p>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

{% include footer.html %}
