html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 2%;
}

.current {
  margin-left: 50px;
  margin-top: auto;
}

.display-work {
  display: flex;
  flex-direction: column;
}

.display-work .display-text-img, .display-text-img-responsive {
  display: flex;
  height: 600px;
}

.display-text-img-responsive {
  display: none;
}

.display-work .display-text-img .content {
  background-color: #000;
  color: #7c6148;
  width: 50%;
}

.display-work .display-text-img .content img {
  height: 100%;
  width: 100%;
}

.display-work .display-text-img .content div {
  margin: 50px
}

.display-work .display-text-img .content div .title {
  border-bottom: 1px solid;
  color: #fff;
  display: inline-block;
  padding: 10px 0;
}

.display-work .display-text-img .content div .link, .display-work .display-text-img .content div p a  {
  color: #7c6148;
  font-style: italic;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
}

.flex-bottom {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.nav div {
  display: flex;
  justify-content: flex-end;
}


.responsive-nav ul {
  margin: 0;
  padding: 0;
}

.nav nav, .responsive-nav ul {
  align-items: center;
  display: flex;
  font-size: 14px;
  list-style-type: none;
  justify-content: space-around;
}

.nav nav li, .responsive-nav ul li {
  text-align: center;
}

.nav img, .nav nav li a, .nav nav li, .responsive-nav li {
  color: #7c6148;
  text-decoration: none;
}

.nav nav img, .responsive-nav img {
  height: 50px;
  width: 50px;
}

.nav nav p, .responsive-nav ul li p {
  margin: 0;
}

.nav-click {
  cursor: pointer;
}

.nav-click img {
  height: 25px;
  width: 25px;
}

.responsive-nav {
  display: none;
  margin-bottom: 10px;
}

.responsive-nav .special {
  font-weight: bold;
}

.responsive-navbar {
  background-color: #232323;
  position: absolute;
  width: 100%;
}

.show {
  display: none;
}

.responsive-navbar ul .special {
  border-bottom: 1px solid #7c6148;
  width: 50%;
}

.responsive-navbar div {
  margin-top: 10px;
  text-align: center;
}

.responsive-navbar ul {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style: none;
}

.responsive-navbar ul li, .responsive-navbar ul li a  {
  color: #7c6148;
  margin: 10px 0;
  text-decoration: none;
}

.work {
  position: relative;
}

#left {
  font-size: 20px;
}

#right {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {

  .display-work .display-text-img {
    display: none;
  }

  .display-text-img-responsive {
    display: block;
  }

  .responsive-nav {
    display: block;
  }
  .responsive-nav ul {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: none;
  }
}

@media screen and (min-width : 1025px) {
  .responsive-navbar {
    display: none;
  }
}
