---
layout: default
meta: Brian Munoz blog which gives explanations of advance topics in html, css and javascript.
title: Blog
changefreq: weekly
---

{% include header.html
  description="I love to write about Front End Web Development and create projects." %}


<section class="projects">
    <h2>articles</h2>
    <ul class="notes-container">
        {% for post in site.posts %}
            <a class="note-title" href="{{ post.link }}">
                {{ post.title }}
            </a>
        {% endfor %}
    </ul>
</section>

<section class="projects">
    <h2>projects</h2>

    <div class="notes-container">
        {% assign projects = site.all_projects | sort: "order" %}
        {% for project in projects %}
            <a class="note-title" href="{{ project.permalink }}">
                {{ project.title }}
            </a>
        {% endfor %}
    </div>
</section>

{% include footer.html %}