<footer class="footer">
  {% include mailchimp.html %}
  <p class="footer__p">
    <span class="black">I am a Programmer from Long Beach, California</span> that focuses in the Front-End of Web
    Development. I like to bring designs to life with HTML, CSS and JavaScript. My goal is to bring technical solutions to
    people. I make <a href="https://codinglead.github.io/">blogs</a> about web development on Mondays and Fridays. Most of my work is open source on <a href="https://github.com/colorlessenergy">github</a>.
  </p>
</footer>