<footer>
<section class="footer-info">
  <section>
    <h2>ABOUT BRIAN</h2>
    <div>
      <p>Brian is a freelancer based in California</p>
      <p>I focus on web development</p>
    </div>
    <div>
      <p><a href="https://www.instagram.com/codebrian_/">instagram</a></p>
      <p><a href="https://github.com/colorlessenergy">github</a></p>
    </div>
  </section>
  <section>
    <div>
      <h2>CONTACT ME</h2>
      <p>if you doubt any of my services, </p>
      <p>please feel free to to contact me. Whether it is</p>
      <p>advice or critism, I am happy to listen</p>
    </div>
    <div>
      <p><a href="contact.html">online contact ></a></p>
      <p><a href="malito:theluckorange@yahoo.com">theluckorange@yahoo.com</a></p>
    </div>
  </section>
  <section>
    <div>
      <h2>NEW BUSINESS</h2>
      <p>If you want to implement a project tell me</p>
      <p>I will try to craft the best solution</p>
    </div>
    <div>
      <p><a href="contact.html">theluckorange@yahoo.com</a></p>
    </div>
  </section>
</section>
  <div class="copy">
    <p>&copy; Brian Munoz</p>
  </div>
</footer>
