<nav>
  <p><a href="{{site.baseurl}}/index.html">Brian Munoz</a></p>
  <ul>
    <li><a href="{{site.baseurl}}/post.html">blog</a></li>
    <li><a href="https://github.com/colorlessenergy">Work</a></li>
    <li><a href="{{site.baseurl}}/services.html">Services</a></li>
    <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
  </ul>
  <img class="menu-icon" src="apps/menu-icon.svg" alt="menu icon">
</nav>
<section class="responsivenav" id="responsivenav">
  <div>
    <p>Brian Munoz</p>
    <p class="menu-icon">x</p>
  </div>
  <ul>
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a href="{{site.baseurl}}/services.html">Services</a></li>
    <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
  </ul>
</section>
