<nav>
  <p><a href="{{site.baseurl}}/index.html">Brian Munoz</a></p>
  <ul>
    <li><a href="{{site.baseurl}}/post.html">blog</a></li>
    <li><a href="https://github.com/colorlessenergy">Work</a></li>
    <li><a href="{{site.baseurl}}/services.html">Services</a></li>
    <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
  </ul>
  <div class="container-menu" onclick="toggleMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </nav>
<section class="responsivenav" id="responsivenav">
  <ul>
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a href="{{site.baseurl}}/post.html">blog</a></li>
    <li><a href="https://github.com/colorlessenergy">Work</a></li>
    <li><a href="{{site.baseurl}}/services.html">Services</a></li>
    <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
  </ul>
</section>
