<nav>
  <p>Brian Munoz</p>
  <ul>
    <li><a href="index.html">Work</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="contact.html">contact</a></li>
  </ul>
  <img class="menu-icon" src="apps/menu-icon.svg" alt="menu icon">
</nav>
<section class="responsivenav" id="responsivenav">
  <div>
    <p>Brian Munoz</p>
    <p class="menu-icon">x</p>
  </div>
  <ul>
    <li><a href="index.html">Work</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="contact.html">contact</a></li>
  </ul>
</section>
