div.highlight {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 7px 7px 7px 10px;
  -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

.highlight .cm {
  color: #586E75;
}

.highlight .kd {
  color: #268BD2;
}

.highlight .nx {
  color: #555;
}

.highlight .o {
  color: #859900;
}

.highlight .p {
  color: #93A1A1;
}

.highlight .s2 {
  color: #2AA198;
}

.blog {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog section {
  max-width: 800px
}

.blog section img {
  width: 95%;
}

.post {
  text-align: center;
}

.post h1 {
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.post p {
  font-size: 14px;
  margin-top: 0;
}

.posts a {
  color: #393939;
  text-decoration: none;
  transition: color 1s ease;
}

.posts a:hover {
  color: #b60c97;
}
