<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- seo -->
    <meta name="description" content="Hi my name is Brian Munoz. I am a Programmer from Long Beach, California that focuses in the Front-End of Web Development. I like to bring designs to life with HTML, CSS and JavaScript. My goal is to bring technical solutions to people."/>

    <title>Brian Munoz, Front End Web Developer, California</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>
  <body>
    <main {% if page.url == "/work.html" %}class="work-main"{% endif %}>
      {% include nav.html %}
      {{ content }}
    </main>
    <p>{{ page.desc }}</p>
  </body>
</html>
